body{
	background: #818181;
	text-align: center;
font-family: 'Quicksand', sans-serif;
}



h1{ 
	color: #6D5902;
}

h2 {
	font-weight: lighter;
	}

	h2{
		color: #000000;
	}

.avatar{
	width: 400px;
	}

.lien{
	text-decoration: none;
	color: #000000;
}

.lien:hover { /* souris sur */
	color: #6D5902;
	 }